.container{
    display:flex;
}
.form_controls{
width:60%;
}
#userName{
    width:50%;
    margin-bottom:15px;
}
body .betInput{
    width:10%;
    margin-bottom:20px;
}
.display_user{
margin-right:50px;
}
.container_game{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.container_game div{
    display:flex;
}
.croupier,
.actual_player{
    margin:20px 0;
}